@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;0,9..144,400;1,9..144,200;1,9..144,300&family=Geist:wght@300;400;500;600&display=swap");
@import "tailwindcss";


* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
body, html {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}